#headerLogo {
  width: 60px;
  height: 60px;
  @extend .d-inline-block, .align-top
}

nav.navbar-oih.navbar.navbar-expand-lg.navbar-light {
  background-color: #21295c;
}

.footer-bg {
    background-color: #21295c;
}

a.text-light.menu-text.nav-link {
  padding-left: 5em;
  font-weight: 600;
}

.bg-alt {
  color: #06bce5;
}

.searchbg {
  min-height: 55vh;
  background-image: url("resources/Photo Africa Coast Original.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75% 60%;
}


.bubble {
  margin-right: 8.5% !important;
  margin-left: 10% !important;
  padding-top: 4% !important;
  margin-top: 4% !important;
}

#root {
  text-align: center;
  background: #f3f2f2;
  min-height: 100vh;
}

.react-tabs__tab:focus::after {
  display: none !important;
}

.react-tabs {
  width: 112% !important;
}

/*=====*/
/* results*/
#expert {
  width: 300%;
}

.narrow {
  max-width: 20%;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* UNDONE, super hacky css to get the map to show up */
.exp-map {
  min-height: 500px;
  height: 500px;
  width: 112%;
}

.exp-map__title {
  display: none;
}

#resultsDiv {
  width: 112%;
}

.buttonHolder {
  margin-top: 1% !important;
}