@import "bootstrap-scss/bootstrap.scss";
@import "App.scss";
@import "./theme/themes.scss";
// You can get a theme variable like this ---> map-get($theme, name-variable)

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-dark-blue {
  color: $blue-800;
}

.text-light-blue {
  color: $cyan-600;
}
