//List of icons availables:

:export {
  diver: url("../resources/diving.png");
  lighthouse: url("../resources/lighthouse.png");
  thinking: url("../resources/thinking.png");
  documents: url("../resources/document.png");
  mapIcon: url("../resources/map.png");
  boat: url("../resources/boat.png");
  project_mgmt: url("../resources/project-management.png");
  database: url("../resources/database.png");
}
